body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li, hr,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section,
summary, hgroup {
  margin: 0;
  padding: 0;
  border: 0; 
}

a:active,
a:hover {
  outline: 0;
}

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

@mixin small-screen {
  @media only screen and (max-width: 767px) {
    @content;
  }
}

@mixin except-desktop {
  @media screen and (max-width: 40em) {
    @content;
  }
}

body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #37302a;
  background: #fff;
  font: normal 100%/1.4 sans-serif;
  font-family: 'Fauna One', georgia, serif;
}

#nav {
  background: rgba(90, 102, 106, 0.5);
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0px 2px 1px 2px rgba(0, 0, 0, .1);
  box-shadow: 0px 2px 1px 2px rgba(0, 0, 0, .1);
  z-index: 1000;

  &, & * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  ul {
    list-style: none;
  }

  li {
    display: inline-block;
    width: 100%;
  }

  a {
    display: block;
    color: #fff;
    text-decoration: none;
    width: 100%;
    border-bottom: 1px solid white;
    padding: 0.7em 1em;

    &:hover{
      background: rgba(51, 51, 51, 0.5);
      border-bottom: 1px solid #fff;
    }
  }

  @include except-desktop {
    position: relative !important;

    ul {
      background: rgba(44, 66, 108, 1);
    }
  }

  @media screen and (min-width: 40em) {
    text-align: center;

    li {
      width: 15%;
      *width: 14.9%; /* IE7 Hack */
      _width: 14%; /* IE6 Hack */
    }

    a {
      margin: 0;
      padding: 20px 25px;
      text-align: center;
      border-bottom: 0;
    }
  }
}

#nav-toggle {
  display: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 70px;
  height: 55px;
  text-indent: -9999px;
  overflow: hidden;
  background: rgba(44, 66, 108, 1) url("/images/hamburger.gif") no-repeat 50% 33%;
  width: 100%;

  @include except-desktop {
    display: block;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 1.3), screen and (min--moz-device-pixel-ratio: 1.3), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-device-pixel-ratio: 1.3), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
    background-image: url("/images/hamburger-retina.gif");
    -webkit-background-size: 100px 100px;
    -moz-background-size: 100px 100px;
    -o-background-size: 100px 100px;
    background-size: 100px 100px;
    border-bottom: 1px solid #fff;
  }
}

p {
  font-size:1.3em;
  line-height:1.8em;
}

h1, h2, h3, h4, h5, h6{
  padding-bottom:20px 0px;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
}

h1, h2, h3, h4, h5, h6, nav{
  font-family: 'Bree Serif', Helvetica, sans-serif;
}

#logo{
  max-height:70px;
  float:right;
  padding-right:20px;
}

section {
  margin-bottom:30px;

  h2 {
    text-align:center;
  }

  @include small-screen {
    p {
      padding:0px 20px;
    }
  }
}

@media screen and (max-width: 767px){
  #schedule li {
    width: 100% !important;
  }

  #travel ul li {
    width: 100% !important;
    margin: 1px 0px !important;
  }
}

#banner {
  background: url("/images/flag_white.png") no-repeat;
  background-color: rgba(0, 32, 108, 1);
  background-size: 1280px;
  background-position: 50% 200px;
  height: 580px;
  z-index: 100;
  padding-top: 45px;
  margin-bottom: 0;

  a {
    margin-top: 50px;
    display: block;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    text-decoration: none;
    font-size: 60px;
    line-height: 60px;
  }

  h1 {
    text-align:center;
    margin-bottom: 5px;
  }

  h2 {
    text-align:center;
    color: #fff;
    text-shadow: none;
  }

  @include except-desktop {
    padding-top: 0;
    height: 550px;
    background-position-x: 48%;

    a {
      margin-top: 10px;
    }
  }
}

#contentContainer {
  section{
    border-top: 1px dotted #dedede;
    padding-top: 30px;
  }

  ul {
    list-style: none;
    text-align: center;

    li {
      display: inline-block;
    }
  }
}

#schedule {
  ul {
    margin-top: 10px;
  }

  li {
    padding:0px 0px 20px 0px;
    width: 60%;
    border-top: 1px dotted #BBB;
  }

  .intro {
    font-style: normal;
  }

  h2 {
    padding-bottom: 5px;
  }

  h3 {
    padding-bottom: 10px;
  }

  h4 {
    padding-top: 0;
    padding-bottom: 13px;
    font-size: 40px;
  }

  p {
    font-style: italic;
    font-size: 14px;
  }

  .fullschedule {
    border-left: 5px solid lighten(#00206c, 75%);
    margin-top: 30px;
    margin-left: 30px;
    text-align: left;

    @media screen and (max-width: 780px) {
      border-left: none;
      margin-left: 0;
    }

    .break {
      h2 {
        font-size: 24px;
        font-style: italic;
      }
    }

    .slot {
      position: relative;
      padding-left: 60px;
      margin-bottom: 50px;
      @media screen and (max-width: 780px) {
        padding-left: 10px;
        margin-bottom: 20px;
      }
      .time {
        text-align: center;
        position: absolute;
        left: -55px;
        width: 80px;
        padding: 6px;
        border-radius: 20px;

        border: 3px solid #00206c;
        background-color: #fff;

        @media screen and (max-width: 780px) {
          transform: none;
          -webkit-transform: none;
          position: static;
          display: block;
        }
      }
      h2, p {
        text-align: left;
      }
      h2 {
        font-size: 28px;
        padding: 0;
      }
      p { padding: 0; }
    }
  }

}

#speakers {
  p {
    margin-bottom: 20px;
  }

  a {
    display: inline-block;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    text-decoration: none;
    font-family: 'Bree Serif', Helvetica, sans-serif;
    background-position-x: 50%;
    padding-bottom: 20px;

    &:hover {
      text-decoration: underline;
    }
  }

  #keynotes {
    li {
      border: 3px solid #000;
      border-radius: 290px;
      margin: 10px;
    }

    a {
      padding-top: 360px;
      width: 400px;
      font-size: 27px;
      background-size: contain;
      background-color: #000;
      border-radius: 290px;
      border: 3px solid #fff;

      &:hover {
        text-decoration: none;
      }
    }

    @include except-desktop {
      li {
        border: none;
        display: block;
      }

      a {
        background-size: cover;
        border: 3px solid #000;
        width: 100%;
        padding-top: 250px;
      }
    }

    margin-bottom: 20px;
  }

  #talks {
    margin-top: 20px;

    td:first-child {
    }

    a {
      padding-top: 145px;
      width: 200px;
      font-size: 22px;
      background-size: cover;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
      border-radius: 290px;
    }

    tr {
      display: inline-block;
      margin-bottom: 30px;
    }

    td:last-child {
      vertical-align: middle;
      font-size: 34px;
      font-family: 'Bree Serif', Helvetica, sans-serif;
      padding-left: 30px;
      width: 300px;
      text-align: left;
      line-height: 41px;
    }
  }

  #r00k {
    background: url('/images/speakers/r00k.jpg') no-repeat;
    background-position-y: 35%;
  }

  #bryanl {
    background: url('/images/speakers/bryanl.jpg') no-repeat;
    background-position-y: 35%;
  }

  #sarahmei {
    background: url('/images/speakers/sarahmei.jpg') no-repeat;
    background-position-y: 35%;
  }

  #antiheroine {
    background: url('/images/speakers/antiheroine.jpg') no-repeat;
    background-position-y: 35%;
  }

  #juliancheal {
    background: url('/images/speakers/juliancheal.jpg') no-repeat;
    background-position-y: 35%;
  }

  #bantik {
    background: url('/images/speakers/coraline.png') no-repeat;
    background-position-y: 35%;
  }

  #dabit {
    background: url('/images/speakers/dabit.jpg') no-repeat;
    background-position-y: 35%;
  }

  #meaganewaller {
    background: url('/images/speakers/meaganewaller.jpg') no-repeat;
    background-position-y: 35%;
  }

  #tehviking {
    background: url('/images/speakers/tehviking.jpg') no-repeat;
    background-position-y: 35%;
  }

  #poteland {
    background: url('/images/speakers/poteland.jpg') no-repeat;
    background-position-x: 60%;
    background-position-y: 35%;
  }

  #estiens {
    background: url('/images/speakers/estiens.png') no-repeat;
    background-position-y: 35%;
  }

  #kerrizor {
    background: url('/images/speakers/kerrizor.jpg') no-repeat;
    background-position-y: 35%;
  }

  #yerhot {
    background: url('/images/speakers/yerhot.jpg') no-repeat;
    background-position-x: 35%;
  }

  #sebasoga {
    background: url('/images/speakers/sebasoga.jpg') no-repeat;
    background-position-x: 35%;
  }
}

@media screen and (max-width: 780px) {
  #speakers #talks {
    td:last-child {
      -webkit-transform: none !important;
      line-height: inherit !important;
      font-size: 25px !important;
      width: 150px;
    }
  }
}

#speak, #register, #venue, #travel {
  .text-center {
    margin-bottom: 20px;
  }

  a.portrait {
    margin-top: 10px;
    display: inline-block;
    border: 3px solid #000;
    border-radius: 400px;
  }

  img {
    border: 3px solid #fff;
    border-radius: 400px;
    width: 400px;
    height: 400px;
  }

  @include small-screen {
    a.portrait {
      border: none;
    }

    img {
      border: 3px solid #000;
      width: 100%;
      height: 100%;
    }
  }
}

#travel {
  code {
    font-size: 18px;
  }
  ul {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

    li {
      width: 49%;
      margin:5px 0px;

      a {
        text-decoration: none;
        padding-top: 10px;
        padding-bottom: 10px;
        display: block;
        background: #f2f2f2;

        &:hover {
          background: #eeeeee;
        }

      }
    }
  }
}

#register {
  .intro {
    font-size: 90%;
    margin-bottom: 1em;
  }
}

.punch {
  background: #bed428;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-top:20px;
  display: inline-block;
  padding: 10px 10px;
  text-shadow: 0px 1px 1px #9aac22;
  color:#fff;
  font-family: "Bree Serif", Helvetica, sans-serif;
  font-size: 30px;
  text-decoration: none;

  &:hover {
    color:#fff;
    -webkit-box-shadow: inset 0 0px 20px 1px #9aac22;
    box-shadow: inset 0 0px 20px 1px #9aac22; 
    text-decoration: none;
  }
  &:active {
    -webkit-box-shadow: inset 0 1px 10px 1px #9aac22;
    box-shadow: inset 0 1px 10px 1px #9aac22;
  }
}

footer {
  text-align: center;
  overflow: auto;
  color: #fff;

  padding-top: 430px;

  background: url("/images/flag_white.png") no-repeat;
  background-color: rgba(0, 32, 108, 1);
  background-size: 1280px;
  background-position: 50% -852px;

  nav {
    margin-bottom: 30px;
    a {
      display: inline-block;
      margin: 0px 25px;
      color: #fff;
      text-decoration: underline;

      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }
  }

  .team {
    margin-bottom: 15px;

    p {
      font-size: 12px;
      a {
        color: #fff;
        text-decoration: underline;

        &:hover {
          color: #fff;
          text-decoration: none;
        }
      }
    }

    li {
      display: inline-block;

      a {
        width: 73px;
        height: 73px;
        display: inline-block;
        border: 2px solid #fff;
        border-radius:50%;
        margin:10px 10px;
        background-size: cover;
        background-position: center;
      }
    }
  }

  .thanks {
    font-size: 10px;
    font-style: italic;
    color: #aaa;

    a {
      color: #aaa;
      text-decoration: underline;

      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

.text-center {
  text-align: center;
  clear: both;
}

#sponsors {
  text-align: center;

  ul {

    li {
      text-align: center;
      display: inline-block;
      margin-bottom: 20px;

      a {
        text-decoration: none;
        border: 0;
        display: block;
      }
    }
  }

  .gold {
    margin-top: 40px;
    margin-bottom: 20px;

    li:first-child {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      margin-bottom: 30px;
      display: block;
    }

    li {
      max-width: 80%;
      width: 400px;
      padding: 0 20px;

      img {
        max-height: 200px;
      }
    }
  }

  .silver {
    margin-bottom: 40px;

    li {
      max-width: 200px;
      margin-left: 20px;
      margin-right: 20px;
      img {
        max-height: 99px;
      }
    }
  }
}
