body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li, hr,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section,
summary, hgroup {
  margin: 0;
  padding: 0;
  border: 0; 
}

a:active,
a:hover {
  outline: 0;
}

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #37302a;
  background: lighten(#002673, 75%) url("/images/square_bg.png");
  font: normal 100%/1.4 sans-serif;
  font-family: 'Exo 2', Helvetica, Arial, sans-serif;

  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  padding: 25px 0;
}

h1 {
  margin-bottom: 10px;
  font-size: 70px;
  background: url("/images/flag.png") no-repeat top center;
  padding-top: 475px;
  background-size: 50%;
}

h2 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 35px;
}

object {
  margin-top: 15px;
  margin-bottom: 15px;
  display: inline-block;
}

.first-video {
  margin-right: 15px;
}

p {
  font-size: 20px;
}

a, a:visited {
  color: rgba(0, 38, 115, 1);
  text-decoration: underline;
}
