/*
Syntax error: Invalid CSS after "  }": expected "}", was "<<<<<<< HEAD"
        on line 52 of stylesheets/scss/application.scss

47: 
48:   nav, .mailForm {
49:     text-align:center;
50:   }
51: 
52: <<<<<<< HEAD
53:   .mailForm {
54:     border-top:1px solid #fff;
55:     padding:25px 20px;
56:     background:#5a666a;
57:     -webkit-border-radius: 10px;

Backtrace:
stylesheets/scss/application.scss:52
/Users/nicholasbarone/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:1148:in `expected'
/Users/nicholasbarone/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:1084:in `expected'
/Users/nicholasbarone/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:1079:in `tok!'
/Users/nicholasbarone/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:536:in `block'
/Users/nicholasbarone/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:529:in `ruleset'
/Users/nicholasbarone/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:553:in `block_child'
/Users/nicholasbarone/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:546:in `block_contents'
/Users/nicholasbarone/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:82:in `stylesheet'
/Users/nicholasbarone/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:27:in `parse'
/Users/nicholasbarone/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/engine.rb:342:in `_to_tree'
/Users/nicholasbarone/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/engine.rb:315:in `_render'
/Users/nicholasbarone/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/engine.rb:262:in `render'
/Users/nicholasbarone/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:341:in `update_stylesheet'
/Users/nicholasbarone/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/nicholasbarone/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:201:in `each'
/Users/nicholasbarone/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/nicholasbarone/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:299:in `block in watch'
/Users/nicholasbarone/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
/Users/nicholasbarone/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
/Users/nicholasbarone/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/vendor/listen/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/Users/nicholasbarone/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/vendor/listen/lib/listen/adapters/polling.rb:56:in `call'
/Users/nicholasbarone/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/vendor/listen/lib/listen/adapters/polling.rb:56:in `poll'
/Users/nicholasbarone/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/vendor/listen/lib/listen/adapters/polling.rb:32:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"  }\": expected \"}\", was \"<<<<<<< HEAD\"\A         on line 52 of stylesheets/scss/application.scss\A \A 47: \A 48:   nav, .mailForm {\A 49:     text-align:center;\A 50:   }\A 51: \A 52: <<<<<<< HEAD\A 53:   .mailForm {\A 54:     border-top:1px solid #fff;\A 55:     padding:25px 20px;\A 56:     background:#5a666a;\A 57:     -webkit-border-radius: 10px;"; }
