/* ------------------------------------------
NECESSARY STYLES FOR RESPONSIVE NAV
--------------------------------------------- */
#nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none; }

#nav li {
  width: 100%;
  display: block; }

.js #nav {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1; }

#nav.opened {
  max-height: 9999px; }

@media screen and (min-width: 40em) {
  .js #nav {
    position: relative;
    max-height: none; }

  #nav-toggle {
    display: none; } }
/* ------------------------------------------
DEMO PAGE'S STYLES
--------------------------------------------- */
body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li, hr,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section,
summary, hgroup {
  margin: 0;
  padding: 0;
  border: 0; }

a:active,
a:hover {
  outline: 0; }

@-webkit-viewport {
  width: device-width; }

@-moz-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #37302a;
  background: #fff;
  font: normal 100%/1.4 sans-serif; }

#nav,
#nav * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #5a666a; }

#nav {
  width: 100%;
  -webkit-box-shadow: 0px 2px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 1px 2px rgba(0, 0, 0, 0.1); }

#nav,
#nav ul {
  list-style: none; }

#nav li {
  float: left;
  width: 100%; }

@media screen and (min-width: 40em) {
  #nav li {
    width: 15%;
    *width: 14.9%;
    /* IE7 Hack */
    _width: 14%;
    /* IE6 Hack */ } }
#nav a {
  color: #fff;
  text-decoration: none;
  width: 100%;
  border-bottom: 1px solid white;
  padding: 0.7em 1em;
  float: left; }

#nav a:hover {
  background: #333; }

@media screen and (min-width: 40em) {
  #nav a {
    margin: 0;
    padding: 25px;
    float: left;
    text-align: center;
    border-bottom: 0; } }
#nav ul ul a {
  background: #5a666a;
  padding-left: 2em; }

@media screen and (min-width: 40em) {
  #nav ul ul a {
    display: none; } }
#nav-toggle {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 70px;
  height: 55px;
  float: right;
  text-indent: -9999px;
  overflow: hidden;
  background: #5a666a url("/images/hamburger.gif") no-repeat 50% 33%;
  width: 100%; }

@media screen and (-webkit-min-device-pixel-ratio: 1.3), screen and (min--moz-device-pixel-ratio: 1.3), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-device-pixel-ratio: 1.3), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  #nav-toggle {
    background-image: url("/images/hamburger-retina.gif");
    -webkit-background-size: 100px 100px;
    -moz-background-size: 100px 100px;
    -o-background-size: 100px 100px;
    background-size: 100px 100px; } }
/**************************
 *************
 *************
 *************/
body {
  font-family: "Noto Serif", georgia, serif; }

p {
  font-size: 1.3em;
  line-height: 1.8em; }

h1, h2, h3, h4, h5, h6 {
  padding: 20px 0px;
  text-shadow: 1px 1px 1px white; }

h1, h2, h3, h4, h5, h6, nav {
  font-family: "Roboto Condensed", Helvetica, sans-serif; }

#nav {
  position: fixed;
  z-index: 1000; }

#logo {
  max-height: 70px;
  float: right;
  padding-right: 20px; }

section {
  margin-bottom: 70px; }
  section h2 {
    text-align: center; }

@media screen and (max-width: 767px) {
  body section p {
    padding: 0px 20px; } }
section#banner {
  background: url("/images/buffalo_usgs-blue.jpg") no-repeat top left;
  background-size: cover;
  z-index: 100;
  position: relative;
  top: 70px;
  height: 450px; }
  section#banner h1 {
    text-align: center; }

#contentContainer ul {
  list-style: none; }
  #contentContainer ul li {
    display: inline-block;
    width: 33%;
    text-align: center; }
    #contentContainer ul li img {
      width: 127px;
      border-radius: 10px; }

#venue img {
  border-radius: 10px;
  width: 300px;
  margin-right: 20px;
  float: left; }

#travel img {
  border-radius: 10px;
  width: 300px;
  margin-left: 20px;
  float: right; }

footer {
  text-align: center; }
  footer nav {
    margin-bottom: 30px; }
    footer nav a {
      display: inline-block;
      margin-right: 5px; }
  footer .team p {
    font-size: 12px; }
  footer .team li {
    display: inline-block; }
