body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li, hr,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section,
summary, hgroup {
  margin: 0;
  padding: 0;
  border: 0; }

a:active,
a:hover {
  outline: 0; }

@-webkit-viewport {
  width: device-width; }
@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #37302a;
  background: #fff;
  font: normal 100%/1.4 sans-serif;
  font-family: 'Fauna One', georgia, serif; }

#nav {
  background: rgba(90, 102, 106, 0.5);
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0px 2px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 1px 2px rgba(0, 0, 0, 0.1);
  z-index: 1000; }
  #nav, #nav * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  #nav ul {
    list-style: none; }
  #nav li {
    display: inline-block;
    width: 100%; }
  #nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    width: 100%;
    border-bottom: 1px solid white;
    padding: 0.7em 1em; }
    #nav a:hover {
      background: rgba(51, 51, 51, 0.5);
      border-bottom: 1px solid #fff; }
  @media screen and (max-width: 40em) {
    #nav {
      position: relative !important; }
      #nav ul {
        background: #2c426c; } }
  @media screen and (min-width: 40em) {
    #nav {
      text-align: center; }
      #nav li {
        width: 15%;
        *width: 14.9%;
        /* IE7 Hack */
        _width: 14%;
        /* IE6 Hack */ }
      #nav a {
        margin: 0;
        padding: 20px 25px;
        text-align: center;
        border-bottom: 0; } }

#nav-toggle {
  display: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 70px;
  height: 55px;
  text-indent: -9999px;
  overflow: hidden;
  background: #2c426c url("/images/hamburger.gif") no-repeat 50% 33%;
  width: 100%; }
  @media screen and (max-width: 40em) {
    #nav-toggle {
      display: block; } }
  @media screen and (-webkit-min-device-pixel-ratio: 1.3), screen and (min--moz-device-pixel-ratio: 1.3), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-device-pixel-ratio: 1.3), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
    #nav-toggle {
      background-image: url("/images/hamburger-retina.gif");
      -webkit-background-size: 100px 100px;
      -moz-background-size: 100px 100px;
      -o-background-size: 100px 100px;
      background-size: 100px 100px;
      border-bottom: 1px solid #fff; } }

p {
  font-size: 1.3em;
  line-height: 1.8em; }

h1, h2, h3, h4, h5, h6 {
  padding-bottom: 20px 0px;
  text-shadow: 1px 1px 1px white; }

h1, h2, h3, h4, h5, h6, nav {
  font-family: 'Bree Serif', Helvetica, sans-serif; }

#logo {
  max-height: 70px;
  float: right;
  padding-right: 20px; }

section {
  margin-bottom: 30px; }
  section h2 {
    text-align: center; }
  @media only screen and (max-width: 767px) {
    section p {
      padding: 0px 20px; } }

@media screen and (max-width: 767px) {
  #schedule li {
    width: 100% !important; }

  #travel ul li {
    width: 100% !important;
    margin: 1px 0px !important; } }
#banner {
  background: url("/images/flag_white.png") no-repeat;
  background-color: #00206c;
  background-size: 1280px;
  background-position: 50% 150px;
  height: 525px;
  z-index: 100;
  padding-top: 45px;
  margin-bottom: 0; }
  #banner a {
    margin-top: 50px;
    display: block;
    color: #fff;
    text-shadow: 1px 1px 1px black;
    text-decoration: none;
    font-size: 60px;
    line-height: 60px; }
  #banner h1 {
    text-align: center; }
  @media screen and (max-width: 40em) {
    #banner {
      padding-top: 0;
      height: 550px;
      background-position-x: 48%; }
      #banner a {
        margin-top: 10px; } }

#contentContainer section {
  border-top: 1px dotted #dedede;
  padding-top: 30px; }
#contentContainer ul {
  list-style: none;
  text-align: center; }
  #contentContainer ul li {
    display: inline-block; }

#schedule ul {
  margin-top: 10px; }
#schedule li {
  padding: 0px 0px 20px 0px;
  width: 60%;
  border-top: 1px dotted #BBB; }
#schedule .intro {
  font-style: normal; }
#schedule h2 {
  padding-bottom: 5px; }
#schedule h3 {
  padding-bottom: 10px; }
#schedule h4 {
  padding-top: 0;
  padding-bottom: 13px;
  font-size: 40px; }
#schedule p {
  font-style: italic;
  font-size: 14px; }
#schedule .fullschedule {
  border-left: 5px solid #ececec;
  margin-top: 30px;
  margin-left: 30px;
  text-align: left; }
  @media screen and (max-width: 780px) {
    #schedule .fullschedule {
      border-left: none;
      margin-left: 0; } }
  #schedule .fullschedule .break h2 {
    font-size: 24px;
    font-style: italic; }
  #schedule .fullschedule .slot {
    position: relative;
    padding-left: 60px;
    margin-bottom: 50px; }
    @media screen and (max-width: 780px) {
      #schedule .fullschedule .slot {
        padding-left: 10px;
        margin-bottom: 20px; } }
    #schedule .fullschedule .slot .time {
      text-align: center;
      position: absolute;
      left: -50px;
      width: 70px;
      padding: 6px;
      border: 4px solid #ccc;
      background-color: #ececec;
      transform: perspective(600px) rotate(-5deg);
      -webkit-transform: perspective(600px) rotate(-5deg); }
      @media screen and (max-width: 780px) {
        #schedule .fullschedule .slot .time {
          transform: none;
          -webkit-transform: none;
          position: static;
          display: block; } }
    #schedule .fullschedule .slot h2, #schedule .fullschedule .slot p {
      text-align: left; }
    #schedule .fullschedule .slot h2 {
      font-size: 28px;
      padding: 0; }
    #schedule .fullschedule .slot p {
      padding: 0; }

#speakers p {
  margin-bottom: 20px; }
#speakers a {
  display: inline-block;
  color: #fff;
  text-shadow: 1px 1px 1px black;
  text-decoration: none;
  font-family: 'Bree Serif', Helvetica, sans-serif;
  background-position-x: 50%;
  padding-bottom: 20px; }
  #speakers a:hover {
    text-decoration: underline; }
#speakers #keynotes {
  margin-bottom: 20px; }
  #speakers #keynotes li {
    border: 3px solid #000;
    border-radius: 290px;
    margin: 10px; }
  #speakers #keynotes a {
    padding-top: 360px;
    width: 400px;
    font-size: 27px;
    background-size: contain;
    background-color: #000;
    border-radius: 290px;
    border: 3px solid #fff; }
    #speakers #keynotes a:hover {
      text-decoration: none; }
  @media screen and (max-width: 40em) {
    #speakers #keynotes li {
      border: none;
      display: block; }
    #speakers #keynotes a {
      background-size: cover;
      border: 3px solid #000;
      width: 100%;
      padding-top: 250px; } }
#speakers #talks {
  margin-top: 20px; }
  #speakers #talks a {
    padding-top: 145px;
    width: 200px;
    font-size: 22px;
    background-size: cover;
    text-shadow: 1px 1px 1px black;
    border-radius: 290px; }
  #speakers #talks tr {
    display: inline-block;
    margin-bottom: 30px; }
  #speakers #talks td:last-child {
    vertical-align: middle;
    font-size: 34px;
    font-family: 'Bree Serif', Helvetica, sans-serif;
    padding-left: 30px;
    width: 300px;
    text-align: left;
    line-height: 41px; }
#speakers #r00k {
  background: url("/images/speakers/r00k.jpg") no-repeat;
  background-position-y: 35%; }
#speakers #bryanl {
  background: url("/images/speakers/bryanl.jpg") no-repeat;
  background-position-y: 35%; }
#speakers #sarahmei {
  background: url("/images/speakers/sarahmei.jpg") no-repeat;
  background-position-y: 35%; }
#speakers #antiheroine {
  background: url("/images/speakers/antiheroine.jpg") no-repeat;
  background-position-y: 35%; }
#speakers #juliancheal {
  background: url("/images/speakers/juliancheal.jpg") no-repeat;
  background-position-y: 35%; }
#speakers #bantik {
  background: url("/images/speakers/coraline.png") no-repeat;
  background-position-y: 35%; }
#speakers #dabit {
  background: url("/images/speakers/dabit.jpg") no-repeat;
  background-position-y: 35%; }
#speakers #meaganewaller {
  background: url("/images/speakers/meaganewaller.jpg") no-repeat;
  background-position-y: 35%; }
#speakers #tehviking {
  background: url("/images/speakers/tehviking.jpg") no-repeat;
  background-position-y: 35%; }
#speakers #poteland {
  background: url("/images/speakers/poteland.jpg") no-repeat;
  background-position-x: 60%;
  background-position-y: 35%; }
#speakers #estiens {
  background: url("/images/speakers/estiens.png") no-repeat;
  background-position-y: 35%; }
#speakers #kerrizor {
  background: url("/images/speakers/kerrizor.jpg") no-repeat;
  background-position-y: 35%; }
#speakers #yerhot {
  background: url("/images/speakers/yerhot.jpg") no-repeat;
  background-position-x: 35%; }
#speakers #sebasoga {
  background: url("/images/speakers/sebasoga.jpg") no-repeat;
  background-position-x: 35%; }

@media screen and (max-width: 780px) {
  #speakers #talks td:last-child {
    -webkit-transform: none !important;
    line-height: inherit !important;
    font-size: 25px !important;
    width: 150px; } }
#speak .text-center, #register .text-center, #venue .text-center, #travel .text-center {
  margin-bottom: 20px; }
#speak a.portrait, #register a.portrait, #venue a.portrait, #travel a.portrait {
  margin-top: 10px;
  display: inline-block;
  border: 3px solid #000;
  border-radius: 400px; }
#speak img, #register img, #venue img, #travel img {
  border: 3px solid #fff;
  border-radius: 400px;
  width: 400px;
  height: 400px; }
@media only screen and (max-width: 767px) {
  #speak a.portrait, #register a.portrait, #venue a.portrait, #travel a.portrait {
    border: none; }
  #speak img, #register img, #venue img, #travel img {
    border: 3px solid #000;
    width: 100%;
    height: 100%; } }

#travel code {
  font-size: 18px; }
#travel ul {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px; }
  #travel ul li {
    width: 49%;
    margin: 5px 0px; }
    #travel ul li a {
      text-decoration: none;
      padding-top: 10px;
      padding-bottom: 10px;
      display: block;
      background: #f2f2f2; }
      #travel ul li a:hover {
        background: #eeeeee; }

#register .intro {
  font-size: 90%;
  margin-bottom: 1em; }

.punch {
  background: #bed428;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-top: 20px;
  display: inline-block;
  padding: 10px 10px;
  text-shadow: 0px 1px 1px #9aac22;
  color: #fff;
  font-family: "Bree Serif", Helvetica, sans-serif;
  font-size: 30px;
  text-decoration: none; }
  .punch:hover {
    color: #fff;
    -webkit-box-shadow: inset 0 0px 20px 1px #9aac22;
    box-shadow: inset 0 0px 20px 1px #9aac22;
    text-decoration: none; }
  .punch:active {
    -webkit-box-shadow: inset 0 1px 10px 1px #9aac22;
    box-shadow: inset 0 1px 10px 1px #9aac22; }

footer {
  text-align: center;
  overflow: auto;
  color: #fff;
  padding-top: 430px;
  background: url("/images/flag_white.png") no-repeat;
  background-color: #00206c;
  background-size: 1280px;
  background-position: 50% -852px; }
  footer nav {
    margin-bottom: 30px; }
    footer nav a {
      display: inline-block;
      margin: 0px 25px;
      color: #fff;
      text-decoration: underline; }
      footer nav a:hover {
        color: #fff;
        text-decoration: none; }
  footer .team {
    margin-bottom: 15px; }
    footer .team p {
      font-size: 12px; }
      footer .team p a {
        color: #fff;
        text-decoration: underline; }
        footer .team p a:hover {
          color: #fff;
          text-decoration: none; }
    footer .team li {
      display: inline-block; }
      footer .team li a {
        width: 73px;
        height: 73px;
        display: inline-block;
        border: 2px solid #fff;
        border-radius: 50%;
        margin: 10px 10px;
        background-size: cover;
        background-position: center; }
  footer .thanks {
    font-size: 10px;
    font-style: italic;
    color: #aaa; }
    footer .thanks a {
      color: #aaa;
      text-decoration: underline; }
      footer .thanks a:hover {
        color: #fff;
        text-decoration: none; }

.text-center {
  text-align: center;
  clear: both; }

#sponsors {
  text-align: center; }
  #sponsors ul li {
    text-align: center;
    display: inline-block;
    margin-bottom: 20px; }
    #sponsors ul li a {
      text-decoration: none;
      border: 0;
      display: block; }
  #sponsors .gold {
    margin-top: 40px;
    margin-bottom: 20px; }
    #sponsors .gold li {
      max-width: 50%; }
  #sponsors .silver {
    margin-bottom: 40px; }
    #sponsors .silver li {
      max-width: 300px;
      margin-left: 20px;
      margin-right: 20px; }
      #sponsors .silver li img {
        max-height: 99px; }
