<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NickelCityRubyConf</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link href="/stylesheets/application.css" type="text/css" rel="stylesheet" />
		<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400,300' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="/javascripts/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/application.js"></script>
  </head>
  <body>
		
    <header>
      <nav>

          <h1><a class="logo" href="/" title="Home">NickelCityRubyConf</a></h1>
          <h2 id="date">September 20 &amp; 21, 2013</h2>

			    <section class="mailForm">
			      {{ content }}
			    </section>

      </nav>
    </header>

    <footer>
    </footer>
		
  </body>
</html>
