<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/2014/stylesheets/responsive-nav.css" />
    <link href="/2014/stylesheets/bootstrap.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="/2014/stylesheets/responsive.css" />
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png" />
    <script src="/javascripts/responsive-nav.js"></script>
    <script src="/javascripts/respond.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Fauna+One|Bree+Serif' rel='stylesheet' type='text/css'>
  </head>

  <body>
    {{ content }}

    <footer>
      <section class="team">
        <p>Brought to you by <a href="http://www.meetup.com/Western-New-York-Ruby/">WNYRuby</a>:</p>
        <ul>
          <li><a href="http://twitter.com/1ofyourmeteors" style="background-image:url('/images/organizers/1ofyourmeteors.jpg')" /></a></li>
          <li><a href="http://twitter.com/LadyIvanGrey" style="background-image:url('/images/organizers/LadyIvanGrey.png')" /></a></li>
          <li><a href="http://twitter.com/TechLexis" style="background-image:url('/images/organizers/TechLexis.jpg')" /></a></li>
          <li><a href="http://twitter.com/aquaranto" style="background-image:url('/images/organizers/aquaranto.jpg')" /></a></li>
          <li><a href="http://twitter.com/aspleenic" style="background-image:url('/images/organizers/aspleenic.jpg')" /></a></li>
          <li><a href="http://twitter.com/byllc" style="background-image:url('/images/organizers/byllc.jpg')" /></a></li>
          <li><a href="http://twitter.com/lnguyen11288" style="background-image:url('/images/organizers/lnguyen11288.jpg')" /></a></li>
          <li><a href="http://twitter.com/qrush" style="background-image:url('/images/organizers/qrush.png')" /></a></li>
          <li><a href="http://twitter.com/robertromito" style="background-image:url('/images/organizers/robertromito.jpg')" /></a></li>
        </ul>
      </section>
      <nav>
        <a href="http://twitter.com/nickelcityruby">@NickelCityRuby</a>
        <a href="mailto:nickelcityruby@gmail.com">Contact</a>
        <a href="http://lanyrd.com/2014/ncrc14">Lanyrd</a>
        <a href="https://github.com/nickelcityruby/code-of-conduct/blob/master/code_of_conduct.md">Conduct</a>
      </nav>
      <section class="thanks">
        Thanks to <a href="https://twitter.com/nb3004">Nicholas Barone</a> for lots of design help!
      </section>
    </footer>
    <!--[if lte IE 9]><script src="respond.js"></script><![endif]-->
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '514bcd1e613f5d34aa000057');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>
