<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>NickelCityRuby</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/responsive-nav.css" />
    <link href="/stylesheets/bootstrap.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/responsive.css" />
    <!--<script src="/javascripts/responsive-nav.js"></script>
    <script src="/javascripts/respond.js"></script>

    <script text>
      var navigation = responsiveNav("#nav", { // Selector: The ID of the wrapper
      animate: true, // Boolean: Use CSS3 transitions, true or false
      transition: 400, // Integer: Speed of the transition, in milliseconds
      label: "Menu", // String: Label for the navigation toggle
      insert: "after", // String: Insert the toggle before or after the navigation
      customToggle: "", // Selector: Specify the ID of a custom toggle
      openPos: "relative", // String: Position of the opened nav, relative or static
      jsClass: "js", // String: 'JS enabled' class which is added to <html> el
        debug: false, // Boolean: Log debug messages to console, true or false
        init: function(){}, // Function: Init callback
        open: function(){}, // Function: Open callback
        close: function(){} // Function: Close callback
        });
      </script>-->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Noto+Serif' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <nav id="nav">
      <ul>
        <li><a href="/2013">Home</a></li>
        <li><a href="#">Speakers</a></li>
        <li><a href="#">Register</a></li>
        <li><a href="#">Schedule</a></li>
        <li><a href="#">Venue</a></li>
        <li><a href="#">Travel</a></li>
      </ul>
    </nav>

    <section class="row-fluid" id="banner">
      <h1 class="span8 offset2"><img src="/images/ncr-logo.png" /></h1>
    </section>

    <div id="contentContainer">
      {{ content }}
    </div>

    <footer>
      <nav>
        <a href="http://twitter.com/nickelcityruby">@NickelCityRuby</a>
        <a href="nickelcityruby@gmail.com">Email the organizers</a>
        <a href="https://rubygems.org/pages/about">Code of Conduct</a>
        <a href="http://help.rubygems.org">Diversity Policy</a>
      </nav>
      <section class="team">
        <p>Brought to you by <a href="http://www.meetup.com/Western-New-York-Ruby/">WNYRuby</a>:</p>
        <ul>
          <li><a href="http://twitter.com/1ofyourmeteors"><img src="http://api.twitter.com/1/users/profile_image?screen_name=1ofyourmeteors&size=bigger" /></a></li>
          <li><a href="http://twitter.com/aquaranto"><img src="http://api.twitter.com/1/users/profile_image?screen_name=aquaranto&size=bigger" /></a></li>
          <li><a href="http://twitter.com/aspleenic"><img src="http://api.twitter.com/1/users/profile_image?screen_name=aspleenic&size=bigger" /></a></li>
          <li><a href="http://twitter.com/byllc"><img src="http://api.twitter.com/1/users/profile_image?screen_name=byllc&size=bigger" /></a></li>
          <li><a href="http://twitter.com/jhsu"><img src="http://api.twitter.com/1/users/profile_image?screen_name=jhsu&size=bigger" /></a></li>
          <li><a href="http://twitter.com/qrush"><img src="http://api.twitter.com/1/users/profile_image?screen_name=qrush&size=bigger" /></a></li>
          <li><a href="http://twitter.com/robertromito"><img src="http://api.twitter.com/1/users/profile_image?screen_name=robertromito&size=bigger" /></a></li>
        </ul>
      </section>
    </footer>

    <script>
      var navigation = responsiveNav("#nav");
    </script>
    <!--[if lte IE 9]><script src="respond.js"></script><![endif]-->
  </body>
</html>
