<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/2017/stylesheets/responsive-nav.css" />
    <link href="/2017/stylesheets/bootstrap.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="/2017/stylesheets/responsive.css" />
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png" />
    <script src="/javascripts/responsive-nav.js"></script>
    <script src="/javascripts/respond.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Fauna+One|Bree+Serif' rel='stylesheet' type='text/css'>
  </head>

  <body>
    {{ content }}

    <footer>
      <section class="row-fluid">
        <h1 class="span8 offset2"><a href="/" title="New York Maker Summit"><img src="/images/summit_2.png" /></a></h1>
      </section>
      <section class="team">
        <ul>
          <li><a href="http://twitter.com/hiteak" style="background-image:url('/images/organizers/dan.jpg')" /></a></li>
          <li><a href="https://twitter.com/davidbrenner" style="background-image:url('/images/organizers/david.jpg')" /></a></li>
          <li><a href="https://twitter.com/roomba_tcms" style="background-image:url('/images/organizers/eric.jpg')" /></a></li>
        </ul>
      </section>
      <nav>
        <a href="https://www.facebook.com/groups/NYSMakers/">Facebook Group</a>
        <a href="mailto:schneiderman.daniel@gmail.com">Contact</a>
        <a href="https://github.com/nickelcityruby/code-of-conduct/blob/master/code_of_conduct.md">Conduct</a>
      </nav>
      <section class="thanks">
        Thanks to Nickel City Ruby and <a href="https://twitter.com/nb3004">Nicholas Barone</a> for the design!
      </section>
    </footer>
    <!--[if lte IE 9]><script src="respond.js"></script><![endif]-->
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '514bcd1e613f5d34aa000057');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>
